
.section-home {
    background-image: url("/img/city-night.jpg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    width: 100%;
    padding: 5rem;
  }
  
  .article-home {
    backdrop-filter: blur(6px);
    background-color: rgba(0, 0, 0, 0.6);
    width: 40%;
    padding: 5rem;
    border-radius: 20px;
    border: solid 2px var(--white);
  }
  
  /* ---------------------------------------------------------------------------------------------------*/
  
  /* Estilos para Pantallas Grandes */
  @media (max-width: 2000px) and (min-width: 1440px) {
      .article-home {
      width: 60%;
      padding: 4rem;
    }
    
  }
  
  /* ---------------------------------------------------------------------------------------------------*/
  
  /* Estilos para Laptops */
  @media (max-width: 1439px) and (min-width: 1024px) {
      .article-home {
      width: 70%;
      padding: 4rem;
    }
  }
  
  /* ---------------------------------------------------------------------------------------------------*/
  
  /* Estilos para Tablets */
  @media (max-width: 1023px) and (min-width: 601px) {
      .article-home {
      width: 99%;
      padding: 3rem;
      margin: 0 auto;
    }
  }
  
  /* ---------------------------------------------------------------------------------------------------*/
  
  /* Estilos para Móviles */
  @media (max-width: 600px) {
      .section-home {
      padding: 0;
    }
    
    .article-home {
      width: 100%;
      padding: 2rem;
      margin: 0;
      border: none;
      border-radius: 0%;
      backdrop-filter: blur(0px);
    background-color: rgba(0, 0, 0, 0.7);
    }
  }